@import 'styles/variables.scss';

.fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 100%;

    &__legend {
        display: flex;
        gap: .5rem;
        font-size: 1.2rem;
        font-weight: 600;

        span {
            color: $red;
        }
    }

    &__input {
        padding: .8rem 1rem;
        max-width: 565px;
        width: 100%;
        border: 1px solid $blue-200;
        border-radius: 5px;
    }
}